<%= simple_form_for(@interviewee) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :nationality %>
    <%= f.input :address %>
    <%= f.input :postal_code %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
