<%= simple_form_for(@interviewee, :html => { :multipart => true }) do |f| %>
  <%= f.error_notification %>

  <table class="table">
    <tr>
        <td><%= f.input :first_name %></td>
        <td> <%= f.input :last_name %></td>
    </tr>
   <tr>
        <td><%= f.input :nationality %></td>
    </tr>
    <tr>
        <td><%= f.input :address %></td>
        <td> <%= f.input :postal_code %></td>
    </tr>
    <tr>
        <td>
          <%= f.input :pic, label: "Upload your Profile Picture"%>
        </td>
    </tr>
  </table>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
